/*
Some of this CSS applies to code that is no longer in index.html. I have kept some of this vestigial
code in case it may be of use for reference at a later date.
*/


html {
 	min-width: 100%;
  	min-height: 100%;
}

body {
	color:#000000;
	font-family: "Courier New";
	text-align: center;
	margin: 0;
  	justify-content: center;
  	height: 500px;
}

#page-wrap {
	width: 1000px;
	margin: 0 auto;
}

img#me {
	top: 25px;
	border: 2px solid #000000;
	border-radius: 20px;
}

img#pennstatue {
	border: 2px solid #000000;
}

.main {
	padding: 10px;
	color: #000000;
  	font-family: "Courier New";
  	font-size: 16px;
}

h2 {
	font-size: 20px;
	font-family: "Courier New";
	margin: 20px auto 20px;
}

h3 {
    	font-family:"Courier New", Courier, monospace;
	color: #545454;
	font-size: 18px;
	border: 2px solid #000000;
	margin: auto;
	text-align: left;
	cursor: pointer;
}

#paragraph {
	font-size: 18px;
	color: #000000;
	max-width: 800px;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 40px;
}

#contactinfo {
	font-size: 16px;
	color: #000000;
	max-width: 800px;
	margin: auto;
	padding-top: 0px;
	padding-bottom: 10px;
}
