html {
 	min-width: 100%;
  	min-height: 100%;
}

body {
	color:#000000;
	font-family: "Courier New";
	text-align: center;
	margin: 0;
  	justify-content: center;
  	height: 2000px;
}

#page-wrap {
	width: 1000px;
	margin: 0 auto;
}

img#richguy {
	position: relative;
	top: 10px;
	padding: 0px;
	border: 2px solid #000080;
	border-radius: 25px;
}

.main {
	padding: 10px;
	color: #000000;
  	font-family: "Courier New";
  	font-size: 16px;
}

/* holds contact info */
h2 {
	font-size: 20px;
	font-family: "Courier New";
	margin: 20px auto 20px;
}

/* paragraph explaining who I am */
#paragraph{
	font-size: 18px;
	color: #000000;
	max-width: 800px;
	margin: auto;
}
