body {
    background: repeating-linear-gradient(
        45deg,
        Lavender,
        Lavender 80px,
        #d9d9f7 80px,
        #d9d9f7 160px
    );
    margin: 0;
    height: 2000px;
}

.pageHead {
    background-color: MidnightBlue;
    padding: 10px;
    width: 260px;
    margin: 50px auto 0 auto;
    text-align: center;
    border-radius: 10px;
}

.headElement {
    display: block;
    color: White;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 4px 4px 4px 4px;
}

.infoBox {
    padding: 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-style: solid;
    border-color: Black;
    border-radius: 10px;
    background-color: White;
    margin: 30px auto 30px auto;
    width: 650px;
}

.projectBox {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-style: solid;
    border-color: MidnightBlue;
    border-radius: 5px;
    background-color: Lavender;
    margin: 30px auto 30px auto;
    width: 600px;
}

.sectionTitle {
    margin-top: 0;
    margin-bottom: 10px;
    color: DimGrey;
    font-size: 22px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.major {
    color: Black;
    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-top: 6px;
    margin-bottom: 2px;
}

.minor {
    color: Black;
    font-size: 14px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0;
    padding-left: 16px;
}

.subjects {
    color: Black;
    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-top: 6px;
}

.projectTitle {
    color: White;
    background-color: MidnightBlue;
    font-size: 18px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    height: 30px;
    padding-top: 10px;
    margin-top: 0px;
}

.description {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: Black;
    background-color: White;
    border-radius: 5px;
    width: 440px;
    padding: 10px;
}

.codeLink {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

#name {
    font-size: 40px;
}

#occupation {
    font-size: 20px;
    margin-bottom: 20px;
}

#headInfo {
    font-size: 14px;
}

#interests {
    height: 80px;
}

#education {
    height: 120px;
}

#work {
    height: 1000px;
}

#fundamentalsAndMore {
    height: 380px;
}

#rbTreeImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 450px;
    border-style: solid;
    border-radius: 5px;
}